<html>
<head>
	<link rel="stylesheet" href="assets/css/lib/css/bootstrap.min.css">
</head>
<body ng-app="main">
	<div ng-controller="PaginationController as Pagination">
		<table class="table table-bordered" ng-repeat="items in Pagination.Items | change:Pagination.Skip:Pagination.ToLimit">
			<tr>
				<td>
					{{items.id}}
				</td>
				<td>
					{{items.item}}
				</td>
			</tr>
		</table>
		<nav >
			<ul class="pagination" ng-repeat="item in Pagination.Pagination">
				<li>
					<a href="#" ng-click="Pagination.ChangePage(item)">{{item}}</a>
				</li>			
			</ul>
		</nav>
	</div>
</body>
<script type="text/javascript" src="assets/js/lib/angular.min.js"></script>
<script type="text/javascript" src="assets/js/app/app.js"></script>
</html>